* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main {
    display: flex;

}

.lado_esquerdo img {
    height: 105%;
    position: relative;

}

.lado_direito {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

nav {
    display: flex;
    align-items: center;
}

button {
    background-color: #B51D44;
    width: 356px;
    height: 45px;
    flex-shrink: 0;

}

button a {
    color: #FFF;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #0000008c;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
}


input {
    width: 475px;
    border: none;
    border-bottom: 2px solid rgb(0, 0, 0);
}


.imgSobrepor{
    position: absolute;
    margin-top: 250px;
}